
body {
	margin: 0;
	padding: 0;
	/*background: url(bg.jpg);*/
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
}

a {
	color: #FFFFFF;
}

#page {
	margin: 0 auto 0 auto;
	width: 100%;
}

#map {
	width: 100%;
	height: 100%;
	z-index: 1;
}

div.gwindow {
	color: #333333;
}

div.marker_label {
	background: #333333;
	padding: 0 5px 0 5px;
}

#footer {
	font-size: 24px;
	text-align: center;
	margin-top: -30px;
	z-index: 2;
	position: relative;
	background: #FFFFFF;
	border: 1px solid #333333;
}

#footer a {
	color: #333333;
}

